Repository snok/container-retention-policy: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, test, cargo-deny, cargo-udeps

fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false

test:
  name: cargo test
  entry: cargo test
  language: system
  pass_filenames: false

cargo-deny:
  name: cargo deny
  entry: cargo deny check --hide-inclusion-graph
  language: system
  pass_filenames: false

cargo-udeps:
  name: cargo udeps
  entry: cargo +nightly udeps
  language: system
  pass_filenames: false

Add back audit and remove cargo deny
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  justfile
Due: none

Fix docker build warning for test script
  .github/workflows/live_test.yaml
  Cargo.lock
  Cargo.toml
  src/cli/args.rs
  src/cli/models.rs
  src/client/builder.rs
  src/client/client.rs
Due: fmt, clippy, test, cargo-deny, cargo-udeps

Ignore tracing-subscriber rustsec until there's an upgrade path
  .github/workflows/test.yaml
  .pre-commit-config.yaml
Due: none

Update action to v3.0.1
  action.yaml
Due: none

Update CI to use v3.0.1
  .github/workflows/live_test.yaml
Due: none

Add upgrade docs
  DEVELOPMENT.md
Due: none

fix: Tag uniquely across versions
  .github/workflows/release.yaml
Due: none

Fix build warning and remove excess tags
  .github/workflows/release.yaml
  Dockerfile
Due: none

ci: Test v3.0.0 in CI
  .github/workflows/live_test.yaml
Due: none

fix: Add v3.0.1 to ignore list
  .github/workflows/live_test.yaml
  DEVELOPMENT.md
Due: none

Claude generated plan to fix the multiplatform
  MULTIPLATFORM_FIX_PLAN.md
Due: none

fix: Remove hardcoded package name from manifest URL construction
  MULTIPLATFORM_FIX_PLAN.md
  src/client/builder.rs
  src/client/client.rs
  src/client/models.rs
  src/core/select_package_versions.rs
  src/core/select_packages.rs
  src/main.rs
Due: fmt, clippy, test

Updated plan
  MULTIPLATFORM_FIX_PLAN.md
Due: none

feat: Add support for both multi-platform and single-platform manifest types
  MULTIPLATFORM_FIX_PLAN.md
  src/client/client.rs
  src/core/select_package_versions.rs
Due: fmt, clippy, test

docs: Update plan to mark Issue #2 as completed and clean up
  MULTIPLATFORM_FIX_PLAN.md
Due: none

docs: Enhance Issue #3 logging specification with improved UX
  MULTIPLATFORM_FIX_PLAN.md
Due: none

feat: Add enhanced logging with platform details for multi-platform images
  MULTIPLATFORM_FIX_PLAN.md
  src/client/client.rs
  src/core/select_package_versions.rs
Due: fmt, clippy, test

refactor: Simplify owner handling by storing once in PackagesClient
  MULTIPLATFORM_FIX_PLAN.md
  src/client/builder.rs
  src/client/client.rs
  src/core/select_package_versions.rs
  src/core/select_packages.rs
Due: fmt, clippy, test

fix: Correct keep-n-most-recent logic to apply after digest filtering
  MULTIPLATFORM_FIX_PLAN.md
  src/core/select_package_versions.rs
Due: fmt, clippy, test

feat: Add robust error handling for manifest fetch failures
  MULTIPLATFORM_FIX_PLAN.md
  src/client/client.rs
Due: fmt, clippy, test

docs: Add comprehensive integration testing plan with dry run scenarios
  MULTIPLATFORM_FIX_PLAN.md
Due: none

test: Add comprehensive unit tests for manifest parsing
  MULTIPLATFORM_FIX_PLAN.md
  src/client/client.rs
Due: fmt, clippy, test

test: Complete integration testing with real GitHub packages - ALL TESTS PASSED
  .gitignore
  INTEGRATION_TEST_RESULTS.md
  MULTIPLATFORM_FIX_PLAN.md
  test_scenario_1.sh
  test_scenario_2.sh
Due: none

style: Apply cargo fmt formatting fixes
  PR_SUMMARY.md
  src/client/client.rs
  src/core/select_package_versions.rs
Due: fmt, clippy, test

fix: Resolve clippy warnings for CI pipeline
  src/cli/models.rs
  src/client/builder.rs
  src/client/mod.rs
  src/main.rs
  src/matchers.rs
Due: fmt, clippy, test

fix: Update dependencies to resolve security vulnerabilities and cargo deny issues
  Cargo.lock
  Cargo.toml
  deny.toml
Due: cargo-deny, cargo-udeps

fix: Ensure cargo bin directory is in PATH for pre-commit hooks
  .github/workflows/test.yaml
Due: none

fix: Update quinn-proto to resolve high severity CVE (RUSTSEC-2024-0373)
  Cargo.lock
Due: cargo-deny, cargo-udeps

I think we can remove this when we have --force in above it was the already installed place that wasn't in the path
  .github/workflows/test.yaml
Due: none

Bump version, seems to be forgotten on 3.0.1
  Cargo.toml
Due: cargo-deny, cargo-udeps

Temp: Build on my own registry so I can test the action
  .github/workflows/release.yaml
Due: none

Temp: Make it use the PR image
  action.yaml
Due: none

fix: Fetch manifests for KEPT tags instead of DELETE candidates
  BUG_FIX_MANIFEST_FETCHING.md
  Cargo.lock
  MULTIPLATFORM_FIX_PLAN.md
  src/core/select_package_versions.rs
Due: fmt, clippy, test, cargo-deny, cargo-udeps

fix: Remove raw ANSI escape codes from log messages and output strings
  src/client/client.rs
  src/core/select_package_versions.rs
Due: fmt, clippy, test

Path conditions:
  fmt: any of: \.rs$
  clippy: any of: \.rs$
  test: any of: \.rs$
  cargo-deny: any of: ^Cargo\.(toml|lock)$
  cargo-udeps: any of: ^Cargo\.(toml|lock)$
