Repository snok/container-retention-policy: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, clippy, test, cargo-deny, cargo-udeps

fmt:
  name: cargo fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

clippy:
  name: cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false

test:
  name: cargo test
  entry: cargo test
  language: system
  pass_filenames: false

cargo-deny:
  name: cargo deny
  entry: cargo deny check --hide-inclusion-graph
  language: system
  pass_filenames: false

cargo-udeps:
  name: cargo udeps
  entry: cargo +nightly udeps
  language: system
  pass_filenames: false

feat: Fetch all tags for complete digest-to-tag associations and enhanced logging
  PR_SUMMARY_UPDATED.md
  src/client/client.rs
  src/core/delete_package_versions.rs
  src/core/select_package_versions.rs
  src/main.rs
Due: fmt, clippy, test

fix: Delete platform-specific digests when deleting multi-platform tags
  ORPHANED_SHA_BUG_ANALYSIS.md
  src/core/select_package_versions.rs
Due: fmt, clippy, test

tests: Add tests that parse new token structure
  src/cli/args.rs
Due: fmt, clippy, test

fix: Add parsing to support the new token format
  src/cli/args.rs
  src/cli/models.rs
Due: fmt, clippy, test

fix: Add missing start anchor to classic PAT regex
  src/cli/args.rs
  src/cli/models.rs
Due: fmt, clippy, test

chore: Update dependencies
  Cargo.lock
  src/cli/models.rs
Due: fmt, clippy, test, cargo-deny, cargo-udeps

Trigger workflow
  .github/workflows/live_test.yaml
Due: none

chore: Update pre-commit config
  .pre-commit-config.yaml
Due: none

chore: Update github action versions
  .github/workflows/live_test.yaml
  .github/workflows/release.yaml
Due: none

chore: Add base64 dependency
  Cargo.lock
  Cargo.toml
Due: cargo-deny, cargo-udeps

feat: Create ghcr.io client and types
  src/main.rs
  src/matchers.rs
  src/registry/client.rs
  src/registry/mod.rs
  src/registry/models.rs
Due: fmt, clippy, test

feat: Return all tagged versions from fetches
  src/client/client.rs
  src/core/select_package_versions.rs
  src/main.rs
Due: fmt, clippy, test

feat: Add helper for multi-arch child protection
  src/core/select_package_versions.rs
Due: fmt, clippy, test

chore: Bump version from 3.0.0 to 3.1.0
  Cargo.lock
  Cargo.toml
  action.yaml
Due: cargo-deny, cargo-udeps

docs: Update readme
  README.md
Due: none

feat: Filter out package versions if they belong to a multi-arch image
  .github/workflows/live_test.yaml
  src/cli/models.rs
  src/client/client.rs
  src/core/filter_out_multi_arch_children.rs
  src/core/mod.rs
  src/core/select_package_versions.rs
  src/main.rs
  src/registry/client.rs
Due: fmt, clippy, test

fix: Clear untagged deletion candidates when multi-arch protection is unavailable
  src/main.rs
Due: fmt, clippy, test

tests: Provoke negative duration bug from #128
  src/core/delete_package_versions.rs
Due: fmt, clippy, test

fix: Handle past rate-limit reset time instead of panicking
  src/core/delete_package_versions.rs
  src/registry/client.rs
Due: fmt, clippy, test

feat: Log which package versions were kept due to multi-arch
  src/client/client.rs
  src/core/filter_out_multi_arch_children.rs
  src/core/select_package_versions.rs
  src/main.rs
  src/registry/client.rs
Due: fmt, clippy, test

chore: Update reqwest and downgrade tracing-subscriber
  .claude/settings.local.json
  Cargo.lock
  Cargo.toml
Due: cargo-deny, cargo-udeps

fix: Make integration tests of older versions of the action run tagged-only strategies
  .github/workflows/live_test.yaml
Due: none

fix: Correct tag selection
  .github/workflows/live_test.yaml
Due: none

fix: Make integration tests of older versions of the action run tagged-only strategies
  .claude/settings.local.json
Due: none

fix: Clear all tagged and untagged candidates if client initiation fails
  src/core/filter_out_multi_arch_children.rs
Due: fmt, clippy, test

fix: Clear untagged candidates if we can't fetch all images due to rate-limits
  src/client/client.rs
  src/core/select_package_versions.rs
Due: fmt, clippy, test

Path conditions:
  fmt: any of: \.rs$
  clippy: any of: \.rs$
  test: any of: \.rs$
  cargo-deny: any of: ^Cargo\.(toml|lock)$
  cargo-udeps: any of: ^Cargo\.(toml|lock)$
